.eventDispatcher {
    margin-bottom: 1em;
}


.validationMessages {
    margin: 0;
    padding-left: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;

    .valid {
        color: darkgreen;
    }
    .invalid {
        color: darkred;
    }
}
.nextActionHeadline {
    font-size: 12px;
    font-style: italic;
}
.nextAction {
    input[type=radio] {
        height: 13px;
    }
    label {
        font-size: 13px;
    }
}